
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa; 
  color: #333333; 
  transition: background-color 0.3s, color 0.3s;
}

.dark-theme {
  background-color: #121212;
  color: #e0e0e0;
}

.dark-mode-forced {
  background-color: #121212 !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dark-theme ::-webkit-scrollbar-track {
  background: #2c2c2c;
}

.dark-theme ::-webkit-scrollbar-thumb {
  background: #555;
}

.dark-theme ::-webkit-scrollbar-thumb:hover {
  background: #777;
}
